.textarea-wrapper {
    position: relative;
    width: 95%;
    min-width: 40px;
    height: auto;
  display: flex;
  flex-direction: column;

    .textarea {
        color: var(--text-primary);
        background-color: var(--text-bg);
        width: 100%;
        height: 26px;
        resize: none;
        overflow: auto;
        padding: 4px 8px;
        font-size: 14px;
        border: 1px solid var(--node-border);
        border-radius: 4px;
        box-sizing: border-box;
        min-height: 26px;
        text-align: left;
        line-height: 1;
        vertical-align: top;
    }

    .textarea-resizer {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 12px;
        width: 100%;
        cursor: ns-resize;
        background: transparent;
        z-index: 2;
    }
}